/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0 0 10px;
  padding: 0;
}

.board {
  border: solid 1px black;
}

.container {
  overflow: hidden; /* because of inner block's float */
}

.board-container {
  width: 550px;
  float: left;
  height: 550px;
}

.instructions-container {
  width: 500px;
  float: left;
  height: 550px;
  margin-left: 20px;
}

.board td{
  border: solid 1px black;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 40px;
}

.board .selected {
  background-color: yellow !important;
}

.board tr:nth-child(2n) td:nth-child(2n+1) {
  background-color: #bbb;
}

.board tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #bbb;
}

.warning { /* styling kindly stolen from twitter's bootstrap */
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
